#login-link{
  text-transform: uppercase;
  font-family: $font-segoeuil;
  line-height: 2rem;
  margin: 0;
  padding: 19px 34px;
  border-left: 1px solid $darkgray;
  border-bottom: 1px solid $darkgray;
  background: $darkergray;
}